@import './pages/home.scss';

$firstFC:rgba(51, 51, 51, 1);
$secFC:rgba(186, 186, 186, 1);

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Gill Sans',
    'Gill Sans MT',
    Calibri,
    'Trebuchet MS',
    sans-serif;
}

a {
    text-decoration: none;
}
